@charset "UTF-8";
.nyx-z0, div.nyx-clazz-list i:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.nyx-z1 {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.nyx-z2, .nyx-login, .nyx-clazz-form, div.nyx-clazz-list, div.nyx-clazz-list i:hover, div.nyx-clazz-list button.nyx-btn-circle:hover, .nyx-areacount-list, .nyx-notice-box:hover {
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.nyx-z3 {
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.nyx-z4, .nyx-login-window header, .nyx-left-bottom-paper {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.nyx-z5 {
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.nyx-z6 {
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.nyx-z7 {
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.nyx-z8, .nyx-sidebar {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.nyx-z9 {
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.nyx-z10 {
  -webkit-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.nyx-z11 {
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.nyx-z12, .nyx-login-window {
  -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.nyx-z13 {
  -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.nyx-z14 {
  -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.nyx-z15 {
  -webkit-box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.nyx-z16 {
  -webkit-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.nyx-z17 {
  -webkit-box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.nyx-z18 {
  -webkit-box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.nyx-z19 {
  -webkit-box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.nyx-z20 {
  -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.nyx-z21 {
  -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.nyx-z22 {
  -webkit-box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.nyx-z23 {
  -webkit-box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.nyx-z24, .nyx-login-window:hover {
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.nyx-transition {
  -webkit-transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("font/glyphicons-halflings-regular.eot");
  src: url("font/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("font/glyphicons-halflings-regular.woff2") format("woff2"), url("font/glyphicons-halflings-regular.woff") format("woff"), url("font/glyphicons-halflings-regular.ttf") format("truetype"), url("font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
  content: "\002a";
}

.glyphicon-plus:before {
  content: "\002b";
}

.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}

.glyphicon-minus:before {
  content: "\2212";
}

.glyphicon-cloud:before {
  content: "\2601";
}

.glyphicon-envelope:before {
  content: "\2709";
}

.glyphicon-pencil:before {
  content: "\270f";
}

.glyphicon-glass:before {
  content: "\e001";
}

.glyphicon-music:before {
  content: "\e002";
}

.glyphicon-search:before {
  content: "\e003";
}

.glyphicon-heart:before {
  content: "\e005";
}

.glyphicon-star:before {
  content: "\e006";
}

.glyphicon-star-empty:before {
  content: "\e007";
}

.glyphicon-user:before {
  content: "\e008";
}

.glyphicon-film:before {
  content: "\e009";
}

.glyphicon-th-large:before {
  content: "\e010";
}

.glyphicon-th:before {
  content: "\e011";
}

.glyphicon-th-list:before {
  content: "\e012";
}

.glyphicon-ok:before {
  content: "\e013";
}

.glyphicon-remove:before {
  content: "\e014";
}

.glyphicon-zoom-in:before {
  content: "\e015";
}

.glyphicon-zoom-out:before {
  content: "\e016";
}

.glyphicon-off:before {
  content: "\e017";
}

.glyphicon-signal:before {
  content: "\e018";
}

.glyphicon-cog:before {
  content: "\e019";
}

.glyphicon-trash:before {
  content: "\e020";
}

.glyphicon-home:before {
  content: "\e021";
}

.glyphicon-file:before {
  content: "\e022";
}

.glyphicon-time:before {
  content: "\e023";
}

.glyphicon-road:before {
  content: "\e024";
}

.glyphicon-download-alt:before {
  content: "\e025";
}

.glyphicon-download:before {
  content: "\e026";
}

.glyphicon-upload:before {
  content: "\e027";
}

.glyphicon-inbox:before {
  content: "\e028";
}

.glyphicon-play-circle:before {
  content: "\e029";
}

.glyphicon-repeat:before {
  content: "\e030";
}

.glyphicon-refresh:before {
  content: "\e031";
}

.glyphicon-list-alt:before {
  content: "\e032";
}

.glyphicon-lock:before {
  content: "\e033";
}

.glyphicon-flag:before {
  content: "\e034";
}

.glyphicon-headphones:before {
  content: "\e035";
}

.glyphicon-volume-off:before {
  content: "\e036";
}

.glyphicon-volume-down:before {
  content: "\e037";
}

.glyphicon-volume-up:before {
  content: "\e038";
}

.glyphicon-qrcode:before {
  content: "\e039";
}

.glyphicon-barcode:before {
  content: "\e040";
}

.glyphicon-tag:before {
  content: "\e041";
}

.glyphicon-tags:before {
  content: "\e042";
}

.glyphicon-book:before {
  content: "\e043";
}

.glyphicon-bookmark:before {
  content: "\e044";
}

.glyphicon-print:before {
  content: "\e045";
}

.glyphicon-camera:before {
  content: "\e046";
}

.glyphicon-font:before {
  content: "\e047";
}

.glyphicon-bold:before {
  content: "\e048";
}

.glyphicon-italic:before {
  content: "\e049";
}

.glyphicon-text-height:before {
  content: "\e050";
}

.glyphicon-text-width:before {
  content: "\e051";
}

.glyphicon-align-left:before {
  content: "\e052";
}

.glyphicon-align-center:before {
  content: "\e053";
}

.glyphicon-align-right:before {
  content: "\e054";
}

.glyphicon-align-justify:before {
  content: "\e055";
}

.glyphicon-list:before {
  content: "\e056";
}

.glyphicon-indent-left:before {
  content: "\e057";
}

.glyphicon-indent-right:before {
  content: "\e058";
}

.glyphicon-facetime-video:before {
  content: "\e059";
}

.glyphicon-picture:before {
  content: "\e060";
}

.glyphicon-map-marker:before {
  content: "\e062";
}

.glyphicon-adjust:before {
  content: "\e063";
}

.glyphicon-tint:before {
  content: "\e064";
}

.glyphicon-edit:before {
  content: "\e065";
}

.glyphicon-share:before {
  content: "\e066";
}

.glyphicon-check:before {
  content: "\e067";
}

.glyphicon-move:before {
  content: "\e068";
}

.glyphicon-step-backward:before {
  content: "\e069";
}

.glyphicon-fast-backward:before {
  content: "\e070";
}

.glyphicon-backward:before {
  content: "\e071";
}

.glyphicon-play:before {
  content: "\e072";
}

.glyphicon-pause:before {
  content: "\e073";
}

.glyphicon-stop:before {
  content: "\e074";
}

.glyphicon-forward:before {
  content: "\e075";
}

.glyphicon-fast-forward:before {
  content: "\e076";
}

.glyphicon-step-forward:before {
  content: "\e077";
}

.glyphicon-eject:before {
  content: "\e078";
}

.glyphicon-chevron-left:before {
  content: "\e079";
}

.glyphicon-chevron-right:before {
  content: "\e080";
}

.glyphicon-plus-sign:before {
  content: "\e081";
}

.glyphicon-minus-sign:before {
  content: "\e082";
}

.glyphicon-remove-sign:before {
  content: "\e083";
}

.glyphicon-ok-sign:before {
  content: "\e084";
}

.glyphicon-question-sign:before {
  content: "\e085";
}

.glyphicon-info-sign:before {
  content: "\e086";
}

.glyphicon-screenshot:before {
  content: "\e087";
}

.glyphicon-remove-circle:before {
  content: "\e088";
}

.glyphicon-ok-circle:before {
  content: "\e089";
}

.glyphicon-ban-circle:before {
  content: "\e090";
}

.glyphicon-arrow-left:before {
  content: "\e091";
}

.glyphicon-arrow-right:before {
  content: "\e092";
}

.glyphicon-arrow-up:before {
  content: "\e093";
}

.glyphicon-arrow-down:before {
  content: "\e094";
}

.glyphicon-share-alt:before {
  content: "\e095";
}

.glyphicon-resize-full:before {
  content: "\e096";
}

.glyphicon-resize-small:before {
  content: "\e097";
}

.glyphicon-exclamation-sign:before {
  content: "\e101";
}

.glyphicon-gift:before {
  content: "\e102";
}

.glyphicon-leaf:before {
  content: "\e103";
}

.glyphicon-fire:before {
  content: "\e104";
}

.glyphicon-eye-open:before {
  content: "\e105";
}

.glyphicon-eye-close:before {
  content: "\e106";
}

.glyphicon-warning-sign:before {
  content: "\e107";
}

.glyphicon-plane:before {
  content: "\e108";
}

.glyphicon-calendar:before {
  content: "\e109";
}

.glyphicon-random:before {
  content: "\e110";
}

.glyphicon-comment:before {
  content: "\e111";
}

.glyphicon-magnet:before {
  content: "\e112";
}

.glyphicon-chevron-up:before {
  content: "\e113";
}

.glyphicon-chevron-down:before {
  content: "\e114";
}

.glyphicon-retweet:before {
  content: "\e115";
}

.glyphicon-shopping-cart:before {
  content: "\e116";
}

.glyphicon-folder-close:before {
  content: "\e117";
}

.glyphicon-folder-open:before {
  content: "\e118";
}

.glyphicon-resize-vertical:before {
  content: "\e119";
}

.glyphicon-resize-horizontal:before {
  content: "\e120";
}

.glyphicon-hdd:before {
  content: "\e121";
}

.glyphicon-bullhorn:before {
  content: "\e122";
}

.glyphicon-bell:before {
  content: "\e123";
}

.glyphicon-certificate:before {
  content: "\e124";
}

.glyphicon-thumbs-up:before {
  content: "\e125";
}

.glyphicon-thumbs-down:before {
  content: "\e126";
}

.glyphicon-hand-right:before {
  content: "\e127";
}

.glyphicon-hand-left:before {
  content: "\e128";
}

.glyphicon-hand-up:before {
  content: "\e129";
}

.glyphicon-hand-down:before {
  content: "\e130";
}

.glyphicon-circle-arrow-right:before {
  content: "\e131";
}

.glyphicon-circle-arrow-left:before {
  content: "\e132";
}

.glyphicon-circle-arrow-up:before {
  content: "\e133";
}

.glyphicon-circle-arrow-down:before {
  content: "\e134";
}

.glyphicon-globe:before {
  content: "\e135";
}

.glyphicon-wrench:before {
  content: "\e136";
}

.glyphicon-tasks:before {
  content: "\e137";
}

.glyphicon-filter:before {
  content: "\e138";
}

.glyphicon-briefcase:before {
  content: "\e139";
}

.glyphicon-fullscreen:before {
  content: "\e140";
}

.glyphicon-dashboard:before {
  content: "\e141";
}

.glyphicon-paperclip:before {
  content: "\e142";
}

.glyphicon-heart-empty:before {
  content: "\e143";
}

.glyphicon-link:before {
  content: "\e144";
}

.glyphicon-phone:before {
  content: "\e145";
}

.glyphicon-pushpin:before {
  content: "\e146";
}

.glyphicon-usd:before {
  content: "\e148";
}

.glyphicon-gbp:before {
  content: "\e149";
}

.glyphicon-sort:before {
  content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}

.glyphicon-sort-by-order:before {
  content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}

.glyphicon-sort-by-attributes:before {
  content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}

.glyphicon-unchecked:before {
  content: "\e157";
}

.glyphicon-expand:before {
  content: "\e158";
}

.glyphicon-collapse-down:before {
  content: "\e159";
}

.glyphicon-collapse-up:before {
  content: "\e160";
}

.glyphicon-log-in:before {
  content: "\e161";
}

.glyphicon-flash:before {
  content: "\e162";
}

.glyphicon-log-out:before {
  content: "\e163";
}

.glyphicon-new-window:before {
  content: "\e164";
}

.glyphicon-record:before {
  content: "\e165";
}

.glyphicon-save:before {
  content: "\e166";
}

.glyphicon-open:before {
  content: "\e167";
}

.glyphicon-saved:before {
  content: "\e168";
}

.glyphicon-import:before {
  content: "\e169";
}

.glyphicon-export:before {
  content: "\e170";
}

.glyphicon-send:before {
  content: "\e171";
}

.glyphicon-floppy-disk:before {
  content: "\e172";
}

.glyphicon-floppy-saved:before {
  content: "\e173";
}

.glyphicon-floppy-remove:before {
  content: "\e174";
}

.glyphicon-floppy-save:before {
  content: "\e175";
}

.glyphicon-floppy-open:before {
  content: "\e176";
}

.glyphicon-credit-card:before {
  content: "\e177";
}

.glyphicon-transfer:before {
  content: "\e178";
}

.glyphicon-cutlery:before {
  content: "\e179";
}

.glyphicon-header:before {
  content: "\e180";
}

.glyphicon-compressed:before {
  content: "\e181";
}

.glyphicon-earphone:before {
  content: "\e182";
}

.glyphicon-phone-alt:before {
  content: "\e183";
}

.glyphicon-tower:before {
  content: "\e184";
}

.glyphicon-stats:before {
  content: "\e185";
}

.glyphicon-sd-video:before {
  content: "\e186";
}

.glyphicon-hd-video:before {
  content: "\e187";
}

.glyphicon-subtitles:before {
  content: "\e188";
}

.glyphicon-sound-stereo:before {
  content: "\e189";
}

.glyphicon-sound-dolby:before {
  content: "\e190";
}

.glyphicon-sound-5-1:before {
  content: "\e191";
}

.glyphicon-sound-6-1:before {
  content: "\e192";
}

.glyphicon-sound-7-1:before {
  content: "\e193";
}

.glyphicon-copyright-mark:before {
  content: "\e194";
}

.glyphicon-registration-mark:before {
  content: "\e195";
}

.glyphicon-cloud-download:before {
  content: "\e197";
}

.glyphicon-cloud-upload:before {
  content: "\e198";
}

.glyphicon-tree-conifer:before {
  content: "\e199";
}

.glyphicon-tree-deciduous:before {
  content: "\e200";
}

.glyphicon-cd:before {
  content: "\e201";
}

.glyphicon-save-file:before {
  content: "\e202";
}

.glyphicon-open-file:before {
  content: "\e203";
}

.glyphicon-level-up:before {
  content: "\e204";
}

.glyphicon-copy:before {
  content: "\e205";
}

.glyphicon-paste:before {
  content: "\e206";
}

.glyphicon-alert:before {
  content: "\e209";
}

.glyphicon-equalizer:before {
  content: "\e210";
}

.glyphicon-king:before {
  content: "\e211";
}

.glyphicon-queen:before {
  content: "\e212";
}

.glyphicon-pawn:before {
  content: "\e213";
}

.glyphicon-bishop:before {
  content: "\e214";
}

.glyphicon-knight:before {
  content: "\e215";
}

.glyphicon-baby-formula:before {
  content: "\e216";
}

.glyphicon-tent:before {
  content: "\26fa";
}

.glyphicon-blackboard:before {
  content: "\e218";
}

.glyphicon-bed:before {
  content: "\e219";
}

.glyphicon-apple:before {
  content: "\f8ff";
}

.glyphicon-erase:before {
  content: "\e221";
}

.glyphicon-hourglass:before {
  content: "\231b";
}

.glyphicon-lamp:before {
  content: "\e223";
}

.glyphicon-duplicate:before {
  content: "\e224";
}

.glyphicon-piggy-bank:before {
  content: "\e225";
}

.glyphicon-scissors:before {
  content: "\e226";
}

.glyphicon-bitcoin:before {
  content: "\e227";
}

.glyphicon-btc:before {
  content: "\e227";
}

.glyphicon-xbt:before {
  content: "\e227";
}

.glyphicon-yen:before {
  content: "\00a5";
}

.glyphicon-jpy:before {
  content: "\00a5";
}

.glyphicon-ruble:before {
  content: "\20bd";
}

.glyphicon-rub:before {
  content: "\20bd";
}

.glyphicon-scale:before {
  content: "\e230";
}

.glyphicon-ice-lolly:before {
  content: "\e231";
}

.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}

.glyphicon-education:before {
  content: "\e233";
}

.glyphicon-option-horizontal:before {
  content: "\e234";
}

.glyphicon-option-vertical:before {
  content: "\e235";
}

.glyphicon-menu-hamburger:before {
  content: "\e236";
}

.glyphicon-modal-window:before {
  content: "\e237";
}

.glyphicon-oil:before {
  content: "\e238";
}

.glyphicon-grain:before {
  content: "\e239";
}

.glyphicon-sunglasses:before {
  content: "\e240";
}

.glyphicon-text-size:before {
  content: "\e241";
}

.glyphicon-text-color:before {
  content: "\e242";
}

.glyphicon-text-background:before {
  content: "\e243";
}

.glyphicon-object-align-top:before {
  content: "\e244";
}

.glyphicon-object-align-bottom:before {
  content: "\e245";
}

.glyphicon-object-align-horizontal:before {
  content: "\e246";
}

.glyphicon-object-align-left:before {
  content: "\e247";
}

.glyphicon-object-align-vertical:before {
  content: "\e248";
}

.glyphicon-object-align-right:before {
  content: "\e249";
}

.glyphicon-triangle-right:before {
  content: "\e250";
}

.glyphicon-triangle-left:before {
  content: "\e251";
}

.glyphicon-triangle-bottom:before {
  content: "\e252";
}

.glyphicon-triangle-top:before {
  content: "\e253";
}

.glyphicon-console:before {
  content: "\e254";
}

.glyphicon-superscript:before {
  content: "\e255";
}

.glyphicon-subscript:before {
  content: "\e256";
}

.glyphicon-menu-left:before {
  content: "\e257";
}

.glyphicon-menu-right:before {
  content: "\e258";
}

.glyphicon-menu-down:before, .font {
  content: "\e259";
}

.glyphicon-menu-up:before {
  content: "\e260";
}

.nyx {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei","Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.nyx a, .nyx h1, .nyx h2, .nyx h3, .nyx h4, .nyx h5, .nyx h6, .nyx p, .nyx div, .nyx span, .nyx input, .nyx label {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei","Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.react-grid-HeaderCell {
  padding: 0 !important;
}

.nyx-login-bg {
  background-color: #2196F3;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.nyx-login-bg:before {
  position: fixed;
  top: 0;
  left: 0;
  height: 125px;
  width: 125px;
  border-left: 125px #0D47A1 solid;
  border-bottom: 125px transparent solid;
  content: " ";
}

.nyx-login-bg:after {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 125px;
  width: 125px;
  border-right: 125px #0D47A1 solid;
  border-top: 125px transparent solid;
  content: " ";
}

.nyx-login {
  background-color: #0D47A1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nyx-findpassword, .nyx-send-checkcode {
  font-size: 12px;
  position: absolute;
  right: 2rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

.nyx-login-window {
  margin: 4rem;
  height: 320px;
  width: 480px;
  background-color: #fff;
}

.nyx-login-window header {
  height: 48px;
}

.nyx-login-window-acctention {
  color: #FFFFFF;
  margin-top: 1rem;
}

.nyx-login-window:before {
  position: absolute;
  font-size: 2.5rem;
  margin-top: -2.5em;
  margin-left: -6em;
  color: #fff;
  content: "信息系统集成及服务项目管理人员";
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.nyx-login-window:after {
  position: absolute;
  font-size: 3rem;
  margin-bottom: 4rem;
  margin-left: 8em;
  bottom: 0;
  color: #fff;
  content: "培训报名入口";
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.nyx-login-body {
  height: 272px;
  padding: 2rem;
  position: relative;
}

.nyx-login-body .nyx-btn-circle {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 32px;
  margin-right: 32px;
  padding: 0;
  min-width: initial;
}

.nyx-login-body > div > div {
  margin-bottom: 1rem;
}

.nyx-clazz-card {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px #FAFAFA solid;
}

.nyx-sidebar a.nyx-button-active {
  background: #0D47A1;
  color: #ffffff;
}

@media only screen and (max-width: 960px) {
  .nyx-login-window:before {
    position: absolute;
    font-size: 2.5rem;
    margin-top: -2.5em;
    margin-left: -6em;
    color: #fff;
    content: " ";
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .nyx-login-window:after {
    position: absolute;
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-left: 8em;
    bottom: 0;
    color: #fff;
    content: " ";
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .nyx-display-none {
    display: none;
  }
  .nyx-login-body {
    height: 272px;
    padding: 2rem;
    position: relative;
  }
  .nyx-login-body .nyx-btn-circle {
    border-radius: 0;
    height: 24px;
    width: 64px;
    position: inherit;
    /* position: absolute; */
    right: 0;
    bottom: 0;
    margin-bottom: 32px;
    margin-right: 32px;
    padding: 0;
    min-width: initial;
  }
}

.nyx-topbar {
  height: 64px;
}

.nyx-sidebar a {
  line-height: 2em;
  border-right: #2196F3 5px solid;
  margin-bottom: 2px;
  transition: color .1;
}

.nyx-sidebar a:hover {
  border-right-color: #0D47A1;
  background-color: #2196F3;
  color: #fff;
}

.nyx-page {
  padding-top: 64px;
  margin: 0 auto;
}

.nyx-context h1 {
  margin: 1rem;
  font-size: 24px;
  margin-top: 2rem;
  line-height: 2;
}

.nyx-context h2 {
  margin: 1rem;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 2rem;
}

.nyx-context h3 {
  margin: 1rem;
  font-size: 16px;
  line-height: 2;
  margin-top: 2rem;
}

.nyx-context h4 {
  margin: 0;
  font-size: 14px;
  line-height: 2;
  margin-top: 1rem;
  margin-left: 1rem;
}

.nyx-context p {
  margin: 0rem;
  font-size: 14px;
  line-height: 2;
  margin-left: 2rem;
}

.nyx-tips {
  width: 800px;
  color: #F44336;
  margin: 2rem 1rem 1rem;
}

.nyx-must-content:after {
  content: "*必填";
  position: absolute;
  right: 20px;
  font-size: 80%;
  top: 23px;
  color: #E57373;
}

#companyid {
  height: 150px;
  position: relative;
}

.nyx-head-name {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 600;
  font-family: simsun;
  padding: 1rem 0rem 0.25rem;
  margin: 0rem 1rem;
  border-bottom: 1px solid #BDBDBD;
}

.nyx-arranged-per, .nyx-enrolled-per {
  height: 10px;
  display: block;
  left: 1rem;
  position: absolute;
}

.nyx-arranged-per {
  background: #ddd;
  width: 288px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.nyx-enrolled-per {
  background: #2196F3;
  min-width: 2px;
}

.nyx-arranger-enrolled-title {
  margin: 1rem 1rem 0.5rem;
  font-size: 12px;
}

.nyx-area-paper {
  min-height: 350px;
  margin-top: 1rem;
}

.nyx-paper {
  float: left;
  width: 320px;
  margin: 1rem;
}

.nyx-paper .nyx-paper-header {
  padding-left: 0 !important;
}

.nyx-list-paper {
  height: 200px;
  padding-top: 0.2rem;
  overflow-y: auto;
}

.nyx-list-paper-change {
  min-height: 400px;
  padding-top: 0.1rem;
}

.nyx-card {
  width: 100%;
  font-size: 12px;
  padding: 0.3rem 0.5rem 0 0.7rem;
}

.nyx-card > div {
  padding: 0 1rem;
}

.nyx-card .nyx-card-body {
  width: 70%;
  float: left;
  position: relative;
  margin-left: 0.5rem;
  padding: 0rem 0rem 0rem 1rem;
  border-left: 1px solid #BDBDBD;
}

.nyx-card .nyx-card-body p {
  font-size: 12px !important;
}

.nyx-card .nyx-card:last-child(nyx-card-body) {
  border: none;
}

.nyx-card .nyx-card-round-ing {
  width: 12px;
  height: 12px;
  position: absolute;
  top: -6px;
  left: -6px;
  border-radius: 50%;
  box-shadow: 1px 1px 7px 0 #2196F3;
  background-color: #2196F3;
}

.nyx-card .nyx-card-action {
  float: right;
  margin: 0;
  margin-right: 0.4rem;
  padding: 0;
}

.nyx-card .nyx-card-unarrange-button {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  border: none;
  background-color: #2196F3;
}

.nyx-card .nyx-card-unarrange-button:hover {
  background-color: #0D47A1;
}

.nyx-card .nyx-card-button {
  display: inline;
  float: right;
  margin-bottom: 0.3rem;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  border: none;
  background-color: #2196F3;
}

.nyx-card .nyx-card-button:hover {
  background-color: #0D47A1;
}

.nyx-card .nyx-card-action > {
  height: 33px;
}

.nyx-card .nyx-oneline, .nyx-card .nyx-card-name, .nyx-card .nyx-card-name-lg, .nyx-card .nyx-card-key, .nyx-card .nyx-card-value, .nyx-card .nyx-info .nyx-info-selectshow > div, .nyx-info .nyx-card .nyx-info-selectshow > div {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nyx-card .nyx-card-name {
  width: 4em;
  color: #212121;
}

.nyx-card .nyx-card-name-lg {
  width: 8em;
  color: #212121;
}

.nyx-card .nyx-card-first-info {
  width: 220px;
  color: #212121;
  margin-right: 2rem;
  color: #212121;
  float: left;
}

.nyx-card .nyx-card-second-info {
  color: #9E9E9E;
  margin-bottom: 0.5rem;
  float: left;
}

.nyx-card .nyx-card-value {
  width: 4.5rem;
}

.nyx-card .nyx-card-value.nyx-card-value-sm {
  width: 4rem;
}

.nyx-card-list {
  width: 100%;
}

.nyx-info .nyx-info-select-title {
  width: 10em;
  flex: initial;
}

.myx-info-title {
  border-left: 2px solid #2196F3;
  color: #2196F3;
  font-weight: 600;
  line-height: 2rem;
  padding-left: 1rem;
}

.nyx-form {
  width: 100%;
  padding: 2rem 2rem 5rem;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
}

.nyx-form button {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  position: absolute;
  float: right;
  right: 0px;
  top: 0px;
  margin-right: 32px;
  margin-top: -32px;
  padding: 0;
  min-width: initial;
  background-color: #2196F3;
}

.nyx-form button:hover {
  background-color: #0D47A1;
}

.nyx-form .nyx-form-div {
  width: 50%;
  margin: 0.5rem 0rem;
  display: inline-block;
}

.nyx-form .nyx-form-div div {
  width: 98%;
}

.nyx-form .nyx-form-div-middle {
  width: 30%;
  display: inline-block;
}

.nyx-form .nyx-form-div-middle div {
  width: 95%;
}

.nyx-form .nyx-info-select-div {
  width: 50%;
  margin: 0.5rem 0rem;
  float: right;
}

.nyx-form .nyx-info-select, .nyx-form .nyx-info-select-lg {
  width: 49%;
  margin-right: 1%;
  margin-top: 0.75rem;
  border: none;
  color: rgba(0, 0, 0, 0.54);
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

.nyx-form .nyx-info-select-lg {
  width: 98%;
}

.nyx-form .nyx-info-select-label {
  margin: 0;
  font-size: 12px;
  width: 50%;
  display: inline-block;
}

.nyx-form .nyx-info-select-middle {
  width: 30%;
  margin-right: 1%;
  border: none;
  color: rgba(0, 0, 0, 0.54);
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

.nyx-remark {
  color: rgba(0, 0, 0, 0.8);
}

.nyx-remark p {
  margin-top: -0.5rem;
  font-size: 14px;
}

.nyx-card-class {
  margin: 2rem 3rem 0rem 3rem;
  border-bottom: 1px solid #BDBDBD;
  font-size: 12px;
}

.nyx-card-class .nyx-clazz-head {
  float: left;
  margin-right: 1rem;
  line-height: 40px;
}

.nyx-card-class:hover {
  border-bottom: 1px solid #2196F3;
}

.nyx-clazz-key {
  text-align: center;
  padding-top: -1rem;
  position: relative;
  top: -0.7rem;
}

.nyx-info-listitem {
  font-size: 14px !important;
}

.nyx-info-listitem h3 {
  font-size: 14px !important;
}

.nyx-info-listitem-hover:hover {
  background-color: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.nyx-info-span {
  width: 10em;
  display: block;
  float: left;
}

.nyx-info-line-height {
  line-height: 45px;
  padding-left: 16px;
}

.nyx-flexible {
  color: #2196F3;
  float: right;
  line-height: 1.5rem;
}

@media only screen and (max-width: 960px) {
  .nyx-form .nyx-form-div {
    width: 100%;
    display: inline-block;
  }
  .nyx-form .nyx-form-div div {
    width: 98%;
  }
  .nyx-form .nyx-info-select, .nyx-form .nyx-info-select-label {
    width: 100%;
  }
  .nyx-form .nyx-info-select-div {
    width: 100%;
  }
}

.nyx-company-paper {
  width: 800px;
}

@media only screen and (max-width: 800px) {
  .nyx-company-paper {
    width: 320px;
  }
}

.nyx-paper-header-btn {
  float: right;
  position: relative;
  bottom: -28px;
}

.nyx-enroller-paper {
  width: 800px;
  float: none;
}

.nyx-card-enrroll-button {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  border: none;
  background-color: #2196F3;
}

.nyx-card-enrroll-button:hover {
  background-color: #0D47A1;
}

.nyx-card-enrroll-select-label-lg {
  color: rgba(0, 0, 0, 0.54);
  font-size: 10px;
}

.nyx-enrolled-change-title {
  color: #2196F3;
  font-size: 18px;
}

.nyx-card-enrroll-select-lg, .nyx-card-enrroll-select-lg-dashed {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  color: rgba(0, 0, 0, 0.54);
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}

.nyx-card-enrroll-select-lg-dashed {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.38);
}

.nyx-card-enrroll-button-sm {
  color: #2196F3;
  display: inline-block;
  line-height: 18px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  border: 1px #F5F5F5 solid;
}

.nyx-card-enrroll-button-sm:hover {
  background: #F5F5F5;
  border: 1px #90CAF9 solid;
}

.nyx-enroller-list {
  width: 384px;
}

@media only screen and (max-width: 800px) {
  .nyx-enroller-paper {
    width: 320px;
  }
  .nyx-enroller-list {
    width: 320px;
  }
}

.nyx-left-list {
  float: left;
  width: 300px;
  margin-left: 10px;
}

div.nyx-chip {
  float: right;
  height: 24px;
  margin: 10px 2px;
}

.nyx-clazz-form {
  background: #fff;
  min-height: 650px;
  margin-left: 320px;
  position: absolute;
  width: 800px;
}

div.nyx-clazz-list {
  background: #fff;
  position: absolute;
  width: 300px;
  min-height: 650px;
}

div.nyx-clazz-list i {
  color: #2196F3;
  display: inline-block;
  line-height: 18px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  border: 1px #F5F5F5 solid;
}

div.nyx-clazz-list i:hover {
  background: #F5F5F5;
  border: 1px #90CAF9 solid;
}

div.nyx-clazz-list i:active {
  background: #EEEEEE;
  border: 1px #90CAF9 solid;
}

div.nyx-clazz-list button.nyx-btn-circle {
  background: #2196F3;
  color: #fff;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 24px;
  margin-right: 24px;
  padding: 0;
  min-width: initial;
  float: right;
  top: 0;
  margin-top: 48px;
}

div.nyx-clazz-list button.nyx-btn-circle:hover {
  background: #0D47A1;
}

.nyx-class-list-title {
  margin: 1rem;
  padding-left: 1rem;
  border-left: 5px #2196F3 solid;
}

.nyx-clazz-card {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-top: 2px #90CAF9 solid;
}

button.nyx-clazz-card-button {
  background: #2196F3;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

button.nyx-clazz-card-button:hover {
  background: #0D47A1;
}

.nyx-left-bottom-paper {
  position: absolute;
  top: 800px;
  background: #fff;
  width: 320px;
}

.nyx-areacount-list {
  padding: 1rem;
  margin: 1rem;
  float: left;
  background: #fff;
}

.nyx-areacount-list:before {
  content: " ";
  display: table;
  clear: both;
}

.nyx-areacount-list:after {
  content: " ";
  display: table;
  clear: both;
}

.nyx-areacount-list-item {
  float: left;
  width: 320px;
  margin-bottom: 1rem;
}

.nyx-areacount-title {
  color: #2196F3;
  font-size: 18px;
  margin: 0 0 1rem 0;
  border-left: 5px #0D47A1 solid;
  padding-left: 1rem;
}

.nyx-area-name {
  color: #0D47A1;
}

.nyx-area-bar {
  font-size: 12px;
  width: 320px;
  height: 20px;
  padding: 0;
  position: relative;
}

.nyx-area-bar-left {
  width: 40px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  position: absolute;
}

.nyx-area-bar-right {
  width: 50px;
  text-align: right;
  display: inline-block;
  color: #0D47A1;
  position: absolute;
  right: 50px;
}

.nyx-area-bar-mid {
  position: relative;
  width: 240px;
  height: 20px;
  display: inline-block;
  right: -40px;
}

.nyx-area-bar-bot {
  position: absolute;
  min-width: 1px;
  height: 20px;
  line-height: 20px;
  background-color: #BDBDBD;
  display: inline-block;
}

.nyx-area-bar-top {
  min-width: 0px;
  position: absolute;
  height: 20px;
  background-color: #2196F3;
  display: inline-block;
  line-height: 20px;
}

.nyx-notice-button {
  position: absolute;
  left: 180px;
  bottom: 2rem;
}

.nyx-notice-button {
  position: absolute;
  left: 180px;
  bottom: 2rem;
}

.nyx-notice-box {
  position: absolute;
  overflow: hidden;
  bottom: 1.5rem;
  width: 48px;
  height: 48px;
  background: #2196F3;
  border-top: 1rem solid #0D47A1;
  transition: width 0.3s ease-in,height 0.3s ease-out,margin-left .3s ease;
  background: url(img/process.png) no-repeat;
  background-size: 100%;
  margin-left: 0;
  z-index: 1301;
}

.nyx-notice-box:hover {
  border: none;
  width: 960px;
  height: 260px;
  margin-left: -150px;
}

.nyx-notice-title {
  color: #0D47A1;
  font-weight: bold;
}

.nyx-notice-login {
  position: relative;
  top: -240px;
  right: -520px;
}
