.nyx-page{
    padding-top: 64px;
    margin: 0 auto;
}
#companyid{
    height: 150px;
    position: relative;
}
.nyx-head-name{
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 600;
    font-family: simsun;
    padding: 1rem 0rem 0.25rem;
    margin: 0rem 1rem;
    border-bottom: 1px solid $grey400;
}
.nyx-arranged-per,.nyx-enrolled-per{
    height: 10px; 
    display: block;
    left: 1rem;
    position: absolute;
}
.nyx-arranged-per{
    background: #ddd;
    width: 288px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3) inset;
}
.nyx-enrolled-per{
    background: $blue;
    min-width: 2px;
}
.nyx-arranger-enrolled-title{
    margin: 1rem 1rem 0.5rem;
    font-size: 12px;
}
.nyx-area-paper{
    min-height:350px;
    margin-top: 1rem;
}
.nyx-paper{
    float: left;
    width: 320px;
    margin: 1rem;
    .nyx-paper-header{
        padding-left:0 !important;
    }
}
.nyx-list-paper{
    height: 200px;
    padding-top: 0.2rem;
    overflow-y: auto;
}
.nyx-list-paper-change{
    min-height: 400px;
    padding-top: 0.1rem;
}
.nyx-card {
    width: 100%;
    font-size:12px;
   // border-bottom: 2px $blue solid;
    padding:0.3rem 0.5rem 0 0.7rem;
    &>div{
        padding:0 1rem;
    }
  
   
    .nyx-card-body{
        width: 78%;
        float: left;
        position: relative;
        //width: 80%;
        margin-left: 0.5rem;
        padding: 0rem 0rem 0rem 1rem;
        border-left: 1px solid $grey400;
        p{
            font-size:12px !important;
        }
    }
    .nyx-card:last-child(nyx-card-body){
        border: none;
    }
    .nyx-card-round-ing{
        width: 12px;
        height: 12px;
        position: absolute;
        top: -6px;
        left: -6px;
        border-radius: 50%;
        box-shadow: 1px 1px 7px 0 $blue;
        background-color: $blue;
    }
    .nyx-card-action{
        float: right;
        margin: 0;
        margin-right: 0.4rem;
        padding: 0;
    }
    .nyx-card-unarrange-button{

        color: $white;
        font-size: 12px;
        line-height: 24px;
        padding: 0.1rem 0.3rem;
        border-radius: 3px;
        border: none;
        background-color: $blue;
        &:hover{
            background-color: $blue900;
        }
    }
    .nyx-card-button{
        display: inline;
        float:right ;
        margin-bottom: 0.3rem;
        color: $white;
        font-size: 12px;
        line-height: 24px;
        padding: 0.1rem 0.3rem;
        border-radius: 3px;
        border: none;
        background-color: $blue;
        &:hover{
            background-color: $blue900;}
    };
    .nyx-card-action>{
        height: 33px;
    }
    .nyx-oneline{

        display: inline-block;
       // float: left;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;    
    }
    .nyx-card-name{
      
        width: 4em;
        color: $grey900;
        @extend .nyx-oneline;
    }
    .nyx-card-name-lg{
      
        width: 8em;
        color: $grey900;
        @extend .nyx-oneline;
    }
    .nyx-card-first-info{
        width: 220px;
        color: #212121;
        margin-right: 2rem;
        color: $grey900;
    }
    .nyx-card-second-info{
        color: $grey500;
        margin-bottom: 0.5rem;
    }
    .nyx-card-key{
        //width:8rem;
        @extend .nyx-oneline;
    }
    .nyx-card-value{
        width:4.5rem;
        @extend .nyx-oneline;
        &.nyx-card-value-sm{
            width: 4rem;
        }
    }
}
.nyx-card-list{
    width: 100%;
}
.nyx-info{
    .nyx-info-selectshow>div{
        @extend .nyx-oneline;
    }
    .nyx-info-select-title{
        width:10em;
        flex:initial;
    }
}
.nyx-form{
    width: 100%;
    padding: 2rem 2rem 5rem;
    
    position: relative;
    button {
        border-radius: 50%;
        height: 64px;
        width: 64px;
        position: absolute;
        float: right;
        right: 0px;
        top:0px;
        margin-right: 32px;
        margin-top: -32px;
        padding: 0;
        min-width: initial;
        background-color: $blue;
        &:hover{
            background-color: $blue900;

        }
    }
    .nyx-form-div{
        width: 50%;
        display: inline-block;
    div{
        width: 98%;
    }
    }
    
    .nyx-form-div-middle{
        width: 30%;
        display: inline-block;
    div{
        width: 95%;
    }
    }
    .nyx-info-select{
        width: 49%;
        margin-right: 1%;
        border: none;
        color: rgba(0, 0, 0, 0.54);
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.54);
    }

    
    .nyx-info-select-middle{
        width: 30%;
        margin-right: 1%;
        border: none;
        color: rgba(0, 0, 0, 0.54);
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.54);
    }
    .nyx-info-select-label{
        width: 50%;
        float: left;
        color: rgba(0, 0, 0, 0.54);
    }
}
.nyx-card-class{
    margin: 2rem 3rem 0rem 3rem;
    border-bottom: 1px solid $grey400;
    font-size: 12px;
    .nyx-clazz-head{
        float: left;
        margin-right:1rem;
        line-height: 40px;
    }   
}
.nyx-card-class:hover{
    border-bottom:1px solid $blue;
}
.nyx-clazz-key{
    text-align: center; 
    padding-top: -1rem;
    position: relative;
    top:-0.7rem; 
  }
.nyx-info-listitem{
    font-size: 14px !important;
    h3{
    font-size: 14px !important;
    }
}
.nyx-info-listitem-hover:hover{
    background-color: rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.nyx-info-span{
    width: 10em;
    display: block;
    float: left;
}
.nyx-info-line-height{
    line-height: 45px;
    padding-left:16px; 
}
.nyx-flexible{
    color: $blue;
    float: right;
    line-height: 1.5rem;
}
@media screen and (min-width: 320px) and (max-width: 1280px){
    .nyx-form{
        .nyx-form-div{
           width: 100%;
            display: inline-block;
        div{
            width: 98%;
        }
        }
        .nyx-info-select-label{
            width: 100%;
        }
    } 
}