.nyx-page{
    padding-top: 64px;
    margin: 0 auto;
}
#companyid{
    height: 150px;
}
.nyx-company-name{
    font-size: 16px;
    font-weight: 600;
    font-family: simsun;
    padding: 0.5rem 0;
    margin: 0rem 0.5rem;
    border-bottom: 1px solid $grey400;
}
.nyx-area-paper{
    height:350px;
}
.nyx-paper{
    float: left;
    width: 320px;
    margin: 1rem;
    padding: 1rem;
    .nyx-paper-header{
        padding-left:0 !important;
    }
}
.nyx-list-paper{
    min-height: 550px;
}
.nyx-card {
    border-bottom: 2px $blue solid;
    padding:1rem 0;
    &>div{
        padding:0 1rem;
    }
    .nyx-card-body{
        height:60px;
        p{
            font-size:12px !important;
        }
    }
    .nyx-card-action{
        height: 33px;
    }
    .nyx-card-action>{
        height: 33px;
    }
    .nyx-oneline{

        display: block;
        float: left;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;    
    }
    .nyx-card-name{
        font-size:12px;
        line-height: 40px;
        width: 3em;
        @extend .nyx-oneline;
    }
    .nyx-card-key{
        width:0;
        @extend .nyx-oneline;
    }
    .nyx-card-value{
        width:8rem;
        @extend .nyx-oneline;
        &.nyx-card-value-sm{
            width: 4rem;
        }
    }
}
.nyx-card-list{
    width: 100%;
}
.nyx-info{
    .nyx-info-selectshow>div{
        @extend .nyx-oneline;
    }
    .nyx-info-select-title{
        width:10em;
        flex:initial;
    }
}
.nyx-form{
    width: 100%;
    padding: 2rem 2rem 5rem;
    
    position: relative;
    button {
        border-radius: 50%;
        height: 64px;
        width: 64px;
        position: absolute;
        float: right;
        right: 0px;
        top:0px;
        margin-right: 32px;
        margin-top: -32px;
        padding: 0;
        min-width: initial;
        background-color: $blue;
        &:hover{
            background-color: $blue900;

        }
    }
    .nyx-form-div{
        width: 50%;
        display: inline-block;
    div{
        width: 98%;
    }
    }
}
.nyx-card-class{
    width: 100%;
    .nyx-clazz-head{
        float: left;
        margin-right:1rem;
        line-height: 40px;
    }
    .nyx-clazz-key{
        
    }
}

.nyx-info-listitem{
    font-size: 14px !important;
    h3{
    font-size: 14px !important;
    }
}
.nyx-info-span{
    width: 10em;
    display: block;
    float: left;
}
.nyx-info-line-height{
    line-height: 45px;
}