.nyx-notice-button{
    position: absolute;
    left: 180px;
    bottom: 2rem;
}


.nyx-notice-button{
    position: absolute;
    left: 180px;
    bottom: 2rem;
}

.nyx-notice-box{
    position: absolute;
    overflow: hidden;
    bottom:1.5rem;
    width: 48px;
    height:48px;
    background: $blue;
    border-top:1rem solid $blue900;
    transition:width 0.3s ease-in,height 0.3s ease-out,margin-left .3s ease;
    background: url(img/process.png) no-repeat;
    background-size: 100%;
    margin-left:0;
    z-index: 1301;
    &:hover{
        border: none;
        width: 960px;
        height:260px;
        margin-left: -150px;
        @extend .nyx-z2;
    }
}
.nyx-notice-title{
    color:$blue900;
    font-weight: bold;
}
.nyx-notice-login{
    position: relative;
    top:-240px;
    right:-520px;
}
