.nyx-left-list {
    float: left; width: 300px;
    margin-left: 10px;
  }
  
div.nyx-chip {
  float: right;
  height: 24px;
  margin: 10px 2px;
}
.nyx-clazz-form{
  background: #fff;
  min-height: 650px;
  margin-left: 320px;
  position: absolute;
  width:800px;
  @extend .nyx-z2;
}
div.nyx-clazz-list{
  background: #fff;
  position: absolute;
  width:300px;
  height: 650px;
  @extend .nyx-z2;
  i{
    color:$blue;
    display: inline-block;
    line-height: 18px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    border: 1px $grey100 solid;
    &:hover{
      background: $grey100;
      border: 1px $blue200 solid;
      @extend .nyx-z2;
    }
    &:active{
      background: $grey200;
      border: 1px $blue200 solid;
      @extend .nyx-z0;
    }
  }
  .disabled{
    color: $grey500;
  }
  $btn-size:48px;
  button.nyx-btn-circle{
      background: $blue;
      color: #fff;
      border-radius: 50%;
      height: 48px;
      width: 48px;
      position: absolute;
      right: 0;
      bottom: 0;
      margin-bottom: 24px;
      margin-right: 24px;
      padding: 0;
      min-width: initial;
      float: right;
      top: 0;
      margin-top:48px; 
      &:hover{
        background: $blue900;
        @extend .nyx-z2;
      }
  }
}
.nyx-class-list-title{
  margin: 1rem;
  padding-left: 1rem;
  border-left: 5px $blue solid;
}

.nyx-clazz-card{
  margin:0rem 1rem;
  padding:0.2rem 1rem;
  border-top:2px $blue200 solid;
}

button.nyx-clazz-card-button{
  background: $blue;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  &:hover{
    background: $blue900;
  }
}
.nyx-left-bottom-paper{
  position: absolute;
  top:800px;
  background: #fff;
  width:320px;
  @extend .nyx-z4;
}
.nyx-areacount-list{
  padding: 1rem;
  margin:1rem;
  float: left;
  background: #fff;
  @extend .nyx-z2;

  &:before{
    content: " ";
    display: table;
    clear: both;
  }
  &:after{
    content: " ";
    display: table;
    clear: both;
  }
}
.nyx-areacount-list-item{
  float:left;
  width:320px;
  margin-bottom: 1rem;
}
.nyx-areacount-title{
  color:$blue;
  font-size:18px;
  margin: 0 0 1rem 0;
  border-left: 5px $blue900 solid;
  padding-left: 1rem;
}
.nyx-area-name{
  color: $blue900;
}
.nyx-area-bar{
  font-size: 12px;
  width: 320px;
  height: 20px;
  padding: 0;
  position: relative;
}
.nyx-area-bar-left{
  width: 40px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  position: absolute;
}
.nyx-area-bar-right{
  width: 240px;
  text-align: right;
  display: inline-block;
  color: $blue900;
  position: absolute;
  right: 50px;
}
.nyx-area-bar-mid{
  position: relative;
  width: 240px;
  height: 20px;
  display: inline-block;
  right: -40px;
}
.nyx-area-bar-bot{
  position: absolute;
  min-width: 1px;
  height: 20px;
  line-height: 20px;
  background-color: $grey400;
  display: inline-block;
}
.nyx-area-bar-top{
  min-width: 0px;
  position: absolute;
  height: 20px;
  background-color: $blue;
  display: inline-block;
  line-height: 20px;
}
.nyx-home-button{
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  border: none;
  background-color: #2196F3;
}
.nyx-clazz-student-name{
 // border-bottom: 2px solid $blue;
  padding: 0.15rem;
  margin: 0.5rem 1rem;
  font-size: 14px;
}
.nyx-clazz-student-message{
  display: inline-block;
  white-space:nowrap; 
  text-overflow:ellipsis; 
  -o-text-overflow:ellipsis; 
  overflow: hidden;

}