.nyx{
    font-size: 14px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
     "Hiragino Sans GB", "Microsoft YaHei","Heiti SC", "WenQuanYi Micro Hei", sans-serif;
     a,h1,h2,h3,h4,h5,h6,p,div,span,input,label{
        font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
         "Hiragino Sans GB", "Microsoft YaHei","Heiti SC", "WenQuanYi Micro Hei", sans-serif;
     }
}
.react-grid-HeaderCell{
    padding: 0 !important;
}
.react-grid-Cell__value{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;    
}

label.react-grid-checkbox-label{
    margin: 0;
}